@import url('https://fonts.googleapis.com/css?family=Passion+One');

.brand-logo {
    font-family: 'Passion One', cursive;
    font-size: 3em;
}
.logo {
    height: 20vh;
}

.color-dark{
    color: black;
}
.color-dark-accent{
    color: #555;
}

.hide{
    display: none;
}
.transparentBG {
    background-color: rgba(0, 0, 0, 0.349);
  }

.mobile-logo {
    position: relative;
    height: 90%;
}
.logo-img {
    vertical-align: middle;
    padding: 4vh 1vw 0vw 1vw ;
    margin-left: 1vw;
    margin-right:0;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

.logo-img-right {
    vertical-align: middle;
    padding: 4vh 1vw 0vw 1vw ;
    margin-right: 1vw;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

.patternBG{
    background-image: url("../img/spring.png");
}

.main-pattern{
    background-image: url("../img/straws.png");
}
.menu-container{
    position: absolute;
    right:0;
}
.menu-button {
    position: relative; 
    display: block;
    margin:10px 0;
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px;
    width: 12vw;
}

.menu-button-mobile {
    position: relative; 
    display: block;
    margin:10px 0;
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px;
    width: 10vh;
}