.logo {
    height: 20vh;
}

.center-wrapper {
    display: flex;
  /* Align Vertically */
  align-items: center;
  /* Align Horizontally */
  justify-content: center;
  /* --- ---------- ----- */
  width: 100%;
  height:100%;
}

.color-dark{
    color: black;
}
.color-dark-accent{
    color: #555;
}

.hide{
    display: none;
}

.dropdown-content{
    position: relative;
}
.logo-img {
    /* height: 30vh; */
    vertical-align: middle;
    padding: 4vw 1vw 0vw 1vw ;
    margin-left: 1vw;
    border-bottom-right-radius: 5vh;
    border-bottom-left-radius: 5vh;
}

.space {
    width: 10vw;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
display: table;
}

.image-med-and-large {
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/church.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.image-small {
    width:100%;
    height:70vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/420014.jpg");
}