@import url('https://fonts.googleapis.com/css?family=Passion+One');

.color-dark {
  color: black;
}
.color-dark-accent {
  color: #555;
}

.transparentBG {
  background-color: rgba(0, 0, 0, 0.349);
}

.zero {
  margin: 0;
  padding: 0;
}
